* {
  box-sizing: border-box; 
 }

body{
    background-color: rgb(92, 142, 204);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    
}

.container{
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    width: 500px;
}   

h1{
    text-align: center;
}

button{
    background-color: rgb(182, 182, 182);
    width: 100%;
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
    
}


